
.cal {
    margin-top:20px;
    
}

.cal form{
    padding: 20px;
    border-radius: 5px;
}

#imc_res{
    background-color: white;
}

.question{
    margin-top:10px;
    border-top: 10px solid white;
    width: 100%;
    padding-top:15px;
    padding-bottom:15px;
    background-color: white;
    border-radius: 10px;
}
.question .btn-group{
    display: block;

}
.question .btn{
    border-radius: 3px!important;
}

.home_return{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;

}
.home_return:visited{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.home_return:hover{
    color:#005CF9;
    text-decoration: none;
}
.home_return:active{
    color:#005CF9; 
    text-decoration: none;
}
.home_return_container{
    margin-bottom: 15px;
}