.first-row{
    height: 60%;
}
#conexion-maw{
    height:100%;
    margin-left:15px;
    margin-right:-15px;
}
.card-dashboard{
    height: 100%;
}
#conexion-maw .card-body{
    height:100%;
}
.profile-card{
    height:110%;
}
.profile-col{
    height: 85%;
    margin-top:15px;
}
.profile-footer{
    height:100px;
}
.general-container{
    width:99%;
}
.card{
    border-radius:15px;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.card-header{
    background-color:#22A7F0;
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size:20px;
    padding-top:-5px;
    padding-bottom:-5px;
    text-align: center;
}
.profile-body{
    background-image:url("../img/consultorio.jpg");
    background-size: 175%;
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important;

}
.profile-body .row{
    text-align: center;
}
#profile_photo{
    height:150px;
    border-radius:90px;
}
.close_session{
    font-size: 14px;
    color:white;
    margin-bottom: 15px;
    float: right!important;
}
#status_profile{
    color: #6F6F6F;
    font-size:14px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-bottom:10px;
}
#button-available{
    border-radius:26px;
    border: none;
    background: -webkit-linear-gradient(88deg, rgba(47, 111, 200,0.8), rgb(0, 162, 246));
    background: linear-gradient(90deg, rgba(47, 111, 200,0.8), rgba(0, 162, 246,0.75));
    height:35px;
    color:white;
    width:85%;
    margin-top:5px;
}
#button-busy{
    border-radius:26px;
    border: none;   
    background: -webkit-linear-gradient(90deg, rgba(205, 0, 0, 0.8), rgb(255, 128, 145));
    background: linear-gradient(90deg, rgba(205, 0, 0,0.8), rgb(255, 128, 145));
    height:35px;
    color:white;
    width:85%;
}
.btn:disabled{
    opacity:0.3!important;
}
#slider{
    height:360px;
    width: 104%;
    margin-top:-18px;
    margin-left: -15px;
}

.second-row .card-header{
    height:25px;
    padding-top:2px;
    font-size: 15px;
}
.second-row{
    height: 50%;
    padding-left:15px;
}
.second-row .row{
    height: 80%;
}

.second-row .card{
    height: 100%;
}
.general-container{
    height: 99vh;
}
.swal-modal{
    border-radius:15px;
}
.ingresos{
    background-image:url("../img/balance.jpg");
    background-size: 175%;
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
    color:white;
    font-size:20px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.ingresos .row{
    margin-top:15px;
    
}
.ingresos_bold{
    font-size:22px;
    font-weight: bold;
}
.doc_info{
    color:white;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 15px;
    text-align: center;
    
}
.status_footer{
    margin-top: auto;
}
.card-footer{
    padding-top: 0px;
}