.login-container {
    height: 500px;
    border-radius: 33px;
    background-image: url("../img/consultorio.jpg");
    background-size: 100% 100%;
}

.align-middle {
    vertical-align: middle!important;
    transform: translateY(10%);
}

#img_maw {
    height: 143px;
    width: 490px;
    margin-bottom:50px;
    margin-top: 15px;

}

#login-background {
    height: 500px;
    border-radius: 33px;
    margin-bottom: 150px;   
    
}

.login-content {
    background-color:rgba(0, 0, 0, 0.5);
    width: 105%;
    height: 100%;
    margin-left:-15px;
    border-radius:33px;
}

.login-form {
    padding-top:20px;
    color:white;
}

.general-container {
    font-family: Arial, Helvetica, sans-serif;
    
}

.general-container a{
    color:white;
    text-decoration: white;
}

.general-container h3{
    padding-top: 25px;
    margin-bottom:25px;
    font-weight: bold;
}

.form-login{
    text-align: center;
}
.form-login input{
    width: 50%;
    height: 44px;
    text-align: center;
    border-radius:22px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.9);
}
.form-login input:focus{
    border:3px solid rgba(151, 231, 255, 0.87);
}

.tos:hover{
    border-bottom: 1px solid white;
}

.btn-welcome{
    border-radius:26px;
    border: none;
    background: -webkit-linear-gradient(88deg, rgb(47, 111, 200), rgb(0, 162, 246));
    background: linear-gradient(90deg, rgb(47, 111, 200), rgba(0, 162, 246,0.75));
    width:50%;
    height:50px;
}
#email-input{
    background-image: url("../img/simbols/mail.png");
    background-position: 5% 50%;
    background-repeat: no-repeat;
}

#email-input-recover{
    background-image: url("../img/simbols/mail.png");
    background-position: 5% 50%;
    background-repeat: no-repeat;
}

#password-input{
    background-image: url("../img/simbols/candado.png");
    background-position: 5% 50%;
    background-repeat: no-repeat;

}

#recover-form{
    display:none;
}
.modal-body-content{
    max-height: calc(100vh - 210px); 
    overflow-y: auto; 
    text-align: justify; 
    text-justify: inter-word;
}
.modal-doc {
    border-radius: 15px;
}
.modal-title{
    color:#1FC4F6;
    margin: 0 auto;
    margin-right:-40px;
}
