<!doctype html>
<html>

<head>
    <title>Medikaway</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            {% block body %}
            {% endblock %}
            <div id="size_alert" style="display:none;">
                <h1>Esta aplicación solo puede ser accedida en Tablets o Computadoras.</h1>
            </div>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script>
                    /* you can pass in options here */
                    PleaseRotateOptions = {
                        forceLandscape: true,
                        message: "Por favor, gire su dispositivo.",
                        subMessage: "Medikaway",
                        allowClickBypass: false,
                        onlyMobile: true, // if you would prefer to force portrait mode
                    };
                </script>
            <script src="../static/assets/js/pleaserotate.js"></script>
            <script>
                const container  = document.getElementById("main-container")
                const size_alert = document.getElementById("size_alert")
                let onresize  = () => {
                    width = document.body.clientWidth;
                    height = document.body.clientHeight;
                    if ( width < 768 ){
                        container.style.display = "none"
                        size_alert.style.display = "block"
                    } else {
                        container.style.display = "block"
                        size_alert.style.display = "none"
                    }
                    console.log(`Width ${ width }, height ${ height }`)
                    
                }
                window.addEventListener("resize",onresize)
            </script>

            </body>   
</html>
