{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="../static/assets/css/clndr.css">
<link rel="stylesheet" href="../static/assets/css/dashboard.css">

</head>
<body>
    <main>
        <div class = "Container general-container" id = "main-container">
            <div class="row first-row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-12">
                            <img src="../static/assets/img/simbols/logo_corto.png" style="margin-top:15px; margin-left:15px;" />
                        </div>
                    </div>
                    <div class="row" style="height:85%;">
                        <div class="col-12 card-dashboard">
                            <div class="card" id="conexion-maw">
                                <div class="card-header">Conexión Medikaway</div>
                                <div class="card-body" style="padding-left: 0px; padding-right: 0px; display: flex;">
                                    

                                    
                                    <div id="demo" class="carousel slide" data-ride="carousel"  style="background-color:black; width:100%!important; height:110%; margin-top:-20px; border-radius: 15px;">

                                        <!-- Indicators -->
                                        <ul class="carousel-indicators">
                                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                                        <li data-target="#demo" data-slide-to="1"></li>
                                        <li data-target="#demo" data-slide-to="2"></li>
                                        </ul>
                                    
                                        <!-- The slideshow -->
                                        <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="Los Angeles" style="width:100%; height: 100%;">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="Chicago" style="width:100%;">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="New York" style="width:100%;">
                                        </div>
                                        </div>
                                    
                                        <!-- Left and right controls -->
                                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#demo" data-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                        </a>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 profile-col">
                        <div class="card profile-card">
                            <div class="card-body profile-body">
                                <div class="row">
                                    <div class="col-6"></div>
                                    <div class="col-6 "><p class="close_session">Cerrar sesión.</p></div>
                                </div>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-lg-9 col-auto">
                                        <img id="profile_photo" src="{{ profile_photo }}" />
                                        <p class="doc_info"><b>{{ doctor_name }}</b></p>
                                        <p class="doc_info">{{ doctor_spec }}</p>
                                        <p class="doc_info">Cédula: {{ doctor_certificate }}</p>
                                        <p class="doc_info">{{ doctor_school }}</p>
                                    </div>
                                    
                                    <div class="col"></div>
                                </div>

                            </div>
                            <div class="card-footer profile-footer">
                                <div class="row status_footer">
                                    <div class="col"></div>
                                    <div class="col-auto" id="status_profile">Mi estatus en sistema.</div>
                                    <div class="col"></div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-center">
                                        <button class="btn" type="button" id="button-available" onclick="available()">Disponible</button>
                                    </div>  
                                    <div class="col-6 text-center">
                                        <button class="btn" type="button" id="button-busy" onclick="busy()" disabled>Ocupado</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="second-row">
              <div class="row">
                <div class="col-4">
                  <div class="card">
                    <div class="card-header">Balance de ingresos.</div>
                    <div class="card-body ingresos">
                      <div class="row">
                        <div class="col"></div>
                        <div class="col-auto">
                          Mes:<br>
                          <span class="ingresos_bold">{{ ingresos_mes }}</span>
                        </div>
                        <div class="col"></div>
                      </div>
                      <div class="row">
                        <div class="col"></div>
                        <div class="col-auto">
                          Ingresos:<br>
                          <span class="ingresos_bold">{{ ingresos_monto }}</span><br>
                        </div>
                        <div class="col"></div>
                      </div>
                      <div class="row">
                        <div class="col"></div>
                        <div class="col-auto">
                          Próximo pago: <br>
                          <span class="ingresos_bold">{{ proximo_pago }}</span><br>
                        </div>
                        <div class="col"></div>
                      </div>
                    </div>
                </div>
                </div>
                <div class="col-4">
                  <div class="card">
                    <div class="card-header">Historial de consultas.</div><br>
                    <div class="card-body">
                    </div>
                </div>
                </div>
                <div class="col-4">
                  <div class="card">
                    <div class="card-header">Calendario.</div>
                    <div id="calendar" class="cal1" style="margin-top:0px;"></div>
                    
                    </div>
                </div>
                </div>
            </div>
          </div>
        </div>     

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <script src="../static/assets/js/clndr.js"></script>
<script>
    const ava = document.getElementById("button-available")
    const bus = document.getElementById("button-busy")
    $('#calendar').clndr();
    function busy(){
        ava.removeAttribute("disabled")
        bus.setAttribute("disabled",true)
        swal({title:"¡Atención!",
              text:"No podrás recibir consultas presionar \"Disponible\".",
              icon:"warning",
              button:"Entendido"})
    }
    function available(){
        ava.setAttribute("disabled",true)
        bus.removeAttribute("disabled")
        swal({title:"¡Enhorabuena!",
              text:"Ahora puedes recibir consultas.",
              icon:"success",
              button:"Entendido"})
    }
</script>
</main>
{% endblock %}