{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="../static/assets/css/welcome_screen.css">
</head>
<body>
    <main>
        <div class = "Container general-container">
            <div class = "row">
                <div class = "col"></div>
                <div class = "col-7 text-center">
                    <img src="../static/assets/img/ic_logo_maw_big@2x.png"id = "img_maw" />                    
                </div>
                <div class = "col"></div>
            </div>
            <div class = "row">
                <div class = "col"></div>
                <div class = "col-7 login-container text-center">                        
                    <div class = "row">
                        <div class = "col"></div>
                        <div class = "col-9 login-form">
                            <form class="form-login" id="credential-form">
                                <div class="form-group">
                                    <h3>Inicia sesión con tus credenciales.</h3>
                                </div>
                                <div class="form-group">
                                    <label for="email">Correo electrónico: </label><br> 
                                    <input type = "email" name = "email" class = "form-control" id="email-input" placeholder = "doctor@medikaway.com" /> 
                                </div>
                                <div class="form-group">
                                    <label for="psswd">Contraseña:</label><br>
                                    <input type = "password" name  = "psswd" class = "form-control" id="password-input" placeholder = "*****************" />
                                </div>
                                <div class="form-group">
                                        <p>¿Olvidaste tu contraseña? <a onclick="forgotPassword()"><u>click aquí</u></a></p><br>
                                    <button type="submit" class="btn btn-primary btn-welcome">Inicia sesión.</button>
                                </div> 
                                <div class="form-group">
                                    <a href = "#" class = "tos" data-toggle="modal" data-target="#terminos_condiciones">Terminos y Condiciones de uso.</a><br>
                                    <a href = "#" class = "tos" data-toggle="modal" data-target="#aviso_privacidad">Aviso de privacidad.</a>
                                </div>    
                            </form>
                            <form class="form-login" id="recover-form">
                                    <div class="form-group" style="margin-bottom:80px;">
                                        <h3>Restablece tu contraseña de acceso a Medikaway.</h3>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Correo electrónico: </label><br> 
                                        <input type = "email" name = "email" class = "form-control" id="email-input-recover" placeholder = "doctor@medikaway.com" style="margin-bottom:15px;" /> 
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-welcome" style="margin-bottom:20px;">Restablece tu contraseña</button><br>
                                        <a href = "#" class = "tos" id="return-login" onclick="returnLogin()" style="margin-bottom: 40px;">Regresar a login.</a><br>
                                    </div> 
                                    <div class="form-group">
                                        <a href = "#" class = "tos" data-toggle="modal" data-target="#terminos_condiciones">Términos y Condiciones de uso.</a><br>
                                        <a href = "#" class = "tos" data-toggle="modal" data-target="#aviso_privacidad">Aviso de privacidad.</a>
                                    </div>    
                                </form>
                        </div>
                        <div class = "col"></div>
                    </div>
                                               
                </div>
                <div class = "col"></div>
            </div>
        </div>
        <!-- Modal AVISO PRIVACIDAD -->
        <div class="modal fade" id="aviso_privacidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content  modal-doc">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Aviso de privacidad.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body modal-body-content">
                                Servicios Medik Away S.A.P.I. de C.V. es una empresa creada con los  más alto estándares  tecnológicos, legalidad y seguridad para brindar servicios digitales a nuestros  clientes y prestadores de servicios médicos,  mediante la   cual se ofrecen servicios médicos  a los  usuarios que accedan a la plataforma digital de Servicios Medik Away S.A.P.I. de C.V por medio de la aplicación móvil o de internet bajo los esquemas de seguridad informática que brinden la confidencialidad y seguridad  de los datos personales generales y sensibles de  nuestro usuarios  y prestadores de servicios que las leyes establecen  como responsable del resguardo de la información.

                                DANDO CUMPLIMIENTO A LA LEY DE PROTECCIÓN DE DATOS PERSONALES EN POSESIÓN DE PARTICULARES EN SU ARTICULO 30  SE CITAN LOS SIGUIENTES PUNTOS.
                                
                                Servicios Medik Away S.A.P.I. de C.V.  como responsable del resguardo y confidencialidad de los datos personales de los usuarios, cita para los efectos del presente aviso de privacidad   de la plataforma digital  su domicilio legal  ubicado en las calles de Avenida Chapultepec número 141 segundo piso en la Delegación Cuahutemoc, Código Postal  06600 en la Ciudad de México con número de teléfono, 01 55 5208 2260 correo electrónico institucional contacto@medikaway.com , siendo el responsable del resguardo de dicha información el C. JOSE DAVID PIÑA  WONG, en su carácter de Director de Informática, el cual pone a su disposición  para cualquier aclaración o manifestación al respecto de los datos personales de nuestros usuarios y prestadores de servicios.
                                
                                     
                                
                                TRATAMIENTO DE DATOS PERSONALES EN LA APLICACIÓN MOVIL DIGITAL
                                
                                Servicios Medik Away S.A.P.I. de C.V.  Ha elaborado esta declaración de privacidad como compromiso firme de proteger la privacidad y confidencialidad de los datos personales de nuestros visitantes en línea, mediante los principios de licitud, consentimiento, calidad, finalidad, lealtad, proporcionalidad y responsabilidad, la información personal identificable que usted voluntariamente proporcione tácitamente y expresamente  en términos 8 de la Ley de Protección de Datos Personales en Posesión de los  Particulares,  a través de nuestra  aplicación móvil.
                                
                                La información personal de nuestros usuarios será utilizada únicamente y exclusivamente  para fines internos del servicio que  la empresa brinde de comunicación entre los usuarios del servicio y los prestadores de  servicios médicos de doctores,  que usted determine del catálogo de los prestadores del servicio  que la empresa  Servicios Medik Away S.A.P.I. de C.V pondrá a su disposición  en la base de datos que se tiene administrada y reguardada en servidores con Amazon Web Services, Inc, que la empresa  Servicios Medik Away S.A.P.I. de C.V, tiene contratados fuera del país, los cuales tiene un alto nivel de garantía de seguridad  y confidencialidad de la información de nuestros usuarios y prestadores de servicio, la cual esta resguardada con los más altos estándares de seguridad informática en el mercado, mismos que se pueden conocer en el sitio web https://aws.amazon.com/es/whitepapers/#security , así como nuestros sistemas informáticos  están plenamente reguardados  administrativamente con
                                
                                las medidas de seguridad que las leyes establecen para la seguridad y confidencialidad de los titulares de los datos personales generales y sensibles.
                                
                                Los datos personales generales y sensibles de los usuarios de la plataforma de comunicación de Servicios Medik Away S.A.P.I. de C.V, serán utilizados única y exclusivamente para el servicio profesional médico, así como registro administrativo de nuestra empresa de los usuarios de sus datos como responsable del resguardo  de la información, para control y mercadotecnia del servicio que ofrece Servicios Medik Away S.A.P.I. de C.V, y cumplimiento de  la obligación que las leyes establecen para el servicio que brinda la empresa en la plataforma digital.
                                
                                Los datos personales generales y sensibles de nuestros usuarios será compartidas con el doctor que el usuario elija del catálogo de nuestros prestadores de servicios,  el cual de acuerdo a la Ley General de Salud y el Reglamentos de Servicio Médico, es necesario para la atención medica que se  brinde , mismos datos personales generales y sensibles que quedarán almacenados en los servidores de la empresa, dentro del  expediente clínico electrónico, mismos que estarán a disposición  del titular en el momento que este lo requiera en la sección de mi perfil, dentro de la plataforma de comunicación de  Servicios Medik Away S.A.P.I. de C.V.       
                                
                                Los datos de los usuarios generales y sensibles de la plataforma digital de Servicios Medik Away S.A.P.I. de C.V no será compartida, donados o  vendida a terceros ajenos a la empresa sin la previa autorización del titular  o de quien sus derechos represente legalmente de los datos
                                
                                EN CUMPLIMIENTO A LA LEY DE PROTECCIÓN DE DATOS PERSONALES EN POSESIÓN DE PARTICULARES  EN SU ARTICULO 15 SE ESTABLECE LOS FINES SERAN UTILIZADOS LOS DATOS PERSONALES DE LOS TITULARES.
                                
                                Para los efectos de la aplicación  Ley de Protección de Datos Personales en Posesión de Particulares  se establecen las finalidades principales y secundarias  para las cuales será utilizada la información de datos personales GENERALES Y SENSIBLES que los usuarios  de la plataforma proporcionen para hacer uso de la plataforma digital de  Servicios Medik Away S.A.P.I. de C.V  por medio de la cual se solicite  la consulta médica del doctor que el usuario elija.   
                                
                                Los datos personales que obtenemos de nuestros usuarios y prestadores de servicio, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita de nuestra plataforma digital. 
                                
                                De acuerdo a lo establecido por la Ley General  de Salud artículo 32 la atención médica a distancia de los usuarios de estos servicios, se requieren determinados  datos personales general y sensible los cuales son necesarios  para brindar el servicio médico las leyes y reglamentos establecen para la consulta médica,  que usted  ACEPTE EXPRESAMENTE SU CONSENTIMIENTO para  poder brindar el servicio.
                                
                                INFORMACION  PERSONALES GENERALES SOLICITADAS
                                
                                Otorgo mi consentimiento expreso  para que mis datos personales generales  sean tratados conforme a lo señalado en el presente aviso de privacidad, marcando la casilla de aceptación, para poder continuar con la solicitud del servicio.
                                
                                Si acepto los términos y condiciones
                                
                                Para efectos de que se lleve de manera confidencial mis datos personales generales y sensibles  en la plataforma digital de Servicios Medik Away S.A.P.I. de C.V, y con ello se pueda garantizar la privacidad y la confidencialidad  de los mismos acepto en asignar una clave confidencial  de 8 a 16 campos alfanuméricos en la casilla de este apartado, con el cual cuando así lo requiera el usuario  con dicha clave podrá  acceder a la plataforma digital para solicitar servicios médicos posteriores  y verificar  el titular los  datos personales, modificarlos o cancelarlos.
                                
                                0 0 0 0 0  0 0 0 0 0   
                                
                                FINALIDAD PRINCIPAL A.-Para efectos de la atención médica a distancia de acuerdo a la Ley General  de Salud, la atención medica será otorgada a  personas mayores de edad, sin ninguna restricción mental, en el caso de ser solicitada la atención médica a una persona menor de edad o con alguna discapacidad  mental se deberá de proporcionar la información solicitada por la persona que legalmente ejerza  la tutela o patria potestad del menor que se otorgara la atención médica, si usted está de acuerdo en proporcionar la información solicitada deberá de manifestar su aceptación expresamente marcando la casilla de aceptación, para poder continuar con la solicitud del servicio.
                                
                                Si acepto los términos y condiciones
                                
                                INFORMACION GENERAL SOLICITADA
                                
                                - Nombre.___________________________________________<br>                                                                                    “ Del solicitante del servicio en caso de ser menor de edad la persona que solicita el servicio o  alguna discapacidad mental deberá de proporcionar ambos nombre y la calidad legal  de  la persona ejerce dicha representación. <br>
                                
                                - Sexo.-_____________________________________________________<br>
                                
                                - Edad.-______________________________________________________<br>
                                
                                - Estatura.-____________________________________________________<br>
                                
                                - Peso.-_______________________________________________________<br>
                                
                                En caso de requerir factura de los servicios médicos deberá de proporcionar<br>
                                
                                - Registro Federal de Causantes de la persona física o moral a la cual se expedirá la facturación electrónica, domicilio legal, correo electrónico.<br>
                                
                                - RFC.-____________________________________________<br>
                                
                                - Nombre o Razón Social.-__________________________________________<br>
                                
                                - Domicilio legal.-_____________________________________<br>
                                
                                - Correo electrónico.-___________________________________<br>
                                
                                INFORMACION PERSONAL SENCIBLE SOLICITADA   <br>    
                                
                                - FINALIDAD PRINCIPAL B.-Para efectos de la atención médica a distancia de acuerdo a la Ley General  de Salud, y la Ley de Protección de Datos Personales en Posesión de Particulares acepto expresamente mi consentimiento en proporcionar mis datos personales sensibles que atañen al estado físico  de salud pasado y presente, para que el doctor que elija de la plataforma de digital de Servicios Medik Away S.A.P.I. de C.V me brinde la atención de consulta médica , los cuales son considerados como  datos sensibles, si usted está de acuerdo en proporcionar la información solicitada deberá de manifestar su aceptación expresamente marcando la casilla de aceptación, para poder continuar con la solicitud del servicio.<br>
                                
                                Si acepto los términos y condiciones<br>
                                
                                Antecedentes personales patológicos y antecedentes personales no patológicos<br>
                                
                                Datos para anexar a los antecedes personales de la historia clínica para el aviso de privacidad<br>
                                
                                Estructura de la historia clínica.<br>
                                
                                a. Interrogatorio o anamnesis (directo, indirecto o mixto).<br>
                                
                                -Ficha de identificación:<br>
                                
                                Nombre, género, edad, lugar de origen, fecha de nacimiento.<br>
                                
                                -Antecedentes Hereditarios y familiares<br>
                                
                                En este apartado puede describirse cualquier padecimiento de los familiares de línea directa del paciente (abuelos, padres, hermanos, tíos y primos sanguíneos no políticos. Neoplasia, enfermedades endocrino metabólicas, enfermedades crónico degenerativas como Hipertensión arterial, Diabetes mellitus, tuberculosis, VIH, cardiopatías, hematológicas, alérgicas, hepatitis, etc.<br>
                                
                                -Antecedentes Personales Patológicos: por orden cronológico<br>
                                
                                Enfermedad Infecto contagiosa: Exantemáticas como varicela, rubeola, sarampión, escarlatina, exantema súbito, enfermedad mano pie boca, Parasitarias: amibiasis, giardiasis, cisticercosis, taeniasis, uncinarias etc.
                                
                                Enfermedad Crónica degenerativa: Ejemplos comunes de estas son obesidad, Diabetes mellitus, Hipertensión arterial.
                                
                                Traumatológicos: Articulares, esguinces, luxaciones y fracturas óseas, cualquier agresión que sufre el organismo a consecuencia de la acción de agentes físicos o mecánicos, pueden ser: articulares como los esguinces las luxaciones; óseos como las fracturas: de cráneo, cara o columna
                                
                                Alérgicos: Medicamentos, alimentos, etc.
                                
                                Quirúrgicos: Tipo de operación, Fecha, presencia o no de complicaciones, resultados.
                                
                                Hospitalizaciones previas: preguntar al paciente la fecha y motivo de su ingreso, si se resolvió su problema o sufrió recaídas.
                                
                                Transfusiones: especificar fecha, tipo de componente, cantidad, motivo y si se presentó alguna reacción adversa.
                                
                                Toxicomanías o alcoholismo; fecha de inicio, hábito de consumo, si ya lo ha dejado, cuánto tiempo lleva sin consumirlo.
                                
                                -Antecedentes Andrológicos y gineco-obstericos.
                                
                                Generales: Inicio de vida sexual, método de planificación familiar, orientación sexual, si sostiene relaciones sexuales de alto riesgo, alteraciones de la libido, si ha padecido enfermedades de transmisión sexual, generalizando ambos sexos.
                                
                                Andrológicos específicos: priapismo, alteraciones de la erección y/o eyaculación, secreción uretral, dolor testicular, alteraciones escrotales, enfermedades de transmisión sexual.
                                
                                Ginecoobstetricos específicos: Menarca, Telarca, Pubarca, Gestas, Partos Cesáreas, Abortos, Dismenorreas.
                                
                                -Antecedentes personales no patológicos:
                                
                                Vivienda: (Tipo urbano o rural, clase de servicio; agua, luz, drenaje, numero de dormitorios y cuantas personas habitan)
                                
                                Hábitos higiénico – dietéticos
                                
                                Higiene: baño y cambio de ropa, cepillado dental, lavado de manos (frecuencia y en que situaciones).
                                
                                Dieta: Cuantas comidas realiza al día, respeta horarios, contenido de carbohidratos, grasas, proteínas, fibra.
                                
                                Zoonosis: convivencia con pitacidos, caninos, felinos y/o animales de granja.
                                
                                FINALIDADES SECUNDARIAS A.- De acuerdo a las Normas Oficiales Mexicanas que regula la atención médica a distancia que establece la Ley General de Salud  en su artículo 32 , el doctor que brinde a nuestros usuarios  la atención requerida por medio de la plataforma digital  de Servicios Medik Away S.A.P.I. de C.V  tiene obligación de acuerdo a la Ley General de Salud  de llevar  un expediente clínico  electrónico de cada paciente el cual se anotara las características de los padecimiento y el tratamiento sugerido así como los medicamentos determinadas para la atención del padecimiento.     
                                
                                Así mismo se le hace de su conocimiento que  de acuerdo a la Ley General de Salud dicho expediente clínico electrónico de cada usuario, será tratado con confidencialidad y seguridad que la ley establece y únicamente   estará a disposición  cada usuario en la plataforma  digital el cual podrá tener acceso el titular  a él y descargarlo  con la  clave  de seguridad  que cada usuario asigno para la confidencialidad y resguardo  de sus datos personales, mismo expediente que tendrá bajo su resguardo y confidencialidad  el doctor que brinde el servicio, así
                                
                                como la plataforma digital de Servicios Medik Away S.A.P.I. de C.V, por un periodo de 1 año calendario posterior al servicio médico solicitado por el usuario.     
                                
                                FINALIDADES SECUNDARIAS B.- De acuerdo a la Ley General de Salud y Reglamento de Atención  Medica  todo doctor tiene obligación de rendir informe a la Secretaria de Salud en el formato SUIVE y SIS las atenciones médicas que brinde  a sus pacientes, lo cual se hace su conocimiento que su expediente clínico  será compartido con dicha secretaria por medios electrónico cuando así sea requerido  por dicha autoridad, previo comunicado que se haga a cada usuario de la remisión de dicha información. 
                                
                                Para lo cual de manifestar su aceptación de manera expresa marcando en l casilla correspondiente si lo acepta o no.      
                                
                                Si Acepto                                                      
                                
                                No acepto
                                
                                LOS MEDIOS PARA EJERCER LOS DERECHOS DE ACCESO, RATIFICACION, CANCELACION U OPOSICIÓN DE CONFORMIDAD A SU ARTICULO  24,25,27, 32, LEY DE PROTECCIÓN DE DATOS PERSONALES EN POSESIÓN DE PARTICULARES.
                                
                                En cumplimiento a la Ley de Protección de Datos Personales en Posesión de Particulares en sus artículos 24, 25, 27, 32, la responsable Servicios Medik Away S.A.P.I. de C.V, se establece los procedimientos y mecanismos por medio de los cuales los titulares de los datos personales  pueden verificar la protección de sus datos personales, así como ejercer el  derecho ARCO que la ley establece.
                                
                                El titular de los datos personales podrá acceder a la página web www.medikaway.com/arco en la cual de manera gratuita la empresa  Servicios Medik Away S.A.P.I. de C.V,  pondrá a disposición de los titulares, procedimientos y mecanismos para que los titulares puedan hacer algún principio de los derechos ARCO.
                                
                                Designando como responsable para dar trámite a las solicitudes de los titulares en el ejercicio de los derechos ARCO, el C. JOSE DAVID PIÑA  WONG, en su carácter de Director de Informática, el cual pone a su disposición  para cualquier aclaración o manifestación al respecto de los datos personales de nuestros usuarios y prestadores de servicios la página web www.medikaway.com/arco .
                                
                                En  dicha web el titular de los datos personales  encontrará  una guía detallada para poder ejercer alguno de los derechos ARCO, en el cual de manera sistemática en la  plataforma digital el titular realice de manera directa  los cambios, el cual dentro del término de 5 días hábiles posteriores a los cambios realizados se le notificará el estado y las observaciones que procedan a dicha solicitud, la cual se hará del conocimiento del titular mediante documento electrónico al correo electrónico registrado del titular, mediante la asignación de un número de  registro y control por parte del responsable que conste la respuesta a dicha solicitud.  Dicha solicitud y respuesta será de manera gratuita para el titular de los derechos. 
                                
                                   
                                
                                Para el ejerció de alguno de los derechos ARCO  se desplegado en la pantalla el correo institucional los mecanismos  por medio de los cuales  en el cual el titular de los datos personales  podrá realizar de acuerdo a su determinación alguno de los derechos ARCO,  de
                                
                                los cuales quedara registrado del sistemas informáticos de la empresa  Servicios Medik Away S.A.P.I. de C.V, los cambios, confirmaciones, oposiciones , cancelación, de los datos personales que haya ejercitado el titular de los datos personales.
                                
                                – DERECHO DE ACCESO.-  De conformidad a lo establecido del  artículo 32 de Ley de Protección de Datos Personales en Posesión de Particulares tiene derecho a obtener del responsable de sus datos personales, así como información relativa a las condiciones y generalidades del tratamiento.
                                
                                – DERECHO DE RECTIFICACION.- De conformidad a lo establecido del  artículo 24 de Ley de Protección de Datos Personales en Posesión de Particulares, el titular en todo momento podrá solicitar al responsable que rectifique sus datos personales que resulten ser inexactos o incompletos.
                                
                                – DERECHO DE CANCELACION.- De conformidad a lo establecido del  artículo 25  de Ley de Protección de Datos Personales en Posesión de Particulares, la cancelación implica el cese en el tratamiento por parte del responsable a partir de un bloqueo de los mismos y su posterior supresión.
                                
                                – DERECHO DE OPOSICION.- De conformidad a lo establecido del  artículo 27 de Ley de Protección de Datos Personales en Posesión de Particulares, el particular podrá en todo momento oponerse al tratamiento de sus datos personales o exigir que se cese en el mismo.   
                                
                                Términos y condiciones de  pago de los servicios que ofrece Servicios Medik Away S.A.P.I. de C.V, establece  a los usuarios de los servicios de la plataforma digital por medio de la cual  diversos profesionistas ofrecen sus servicios profesionales médicos, un esquema de pago por medio de pasarela de pagos con lo cual se garantiza que su pago está protegido por la empresa Grupo Conektame S.A. de C.V. (Conekta), una filial de Conekta, OLP, es un Agregador supervisado por la Comisión Nacional Bancaria y de Valores (CNBV) como Participante en Redes de Medios de Disposición Relevantes y cumple con todos los procedimientos necesarios para validar de conformidad con PCI DSS en relación a las políticas, procedimientos y sistemas técnicos que almacenan, procesan y/o transmiten datos de tarjetahabientes la cual respalda el servicio, así como el pago electrónico del solicitante del servicio, el cual si lo requiere el usuario del servicio  será facturado de acuerdo a los requisitos que las autoridades fiscales establecen.
                                
                                O bien mediante el esquema de pago que se acuerde entre los usuarios y la empresa Servicios Medik Away S.A.P.I. de C.V, por los servicios brindados.
                                
                                Servicios Medik Away S.A.P.I. de C.V, establece como política de garantía de los servicios de los profesionistas que ofrecen sus servicios atreves de la plataforma, que si el usuario de los servicios considera que el servicio recibido no cumple con requerimientos que  el usuario
                                
                                requería del profesionista, ya sea por deficiencia profesional, no ser atendido en el momento que el usuario lo requiere, ser atendido de manera discriminatoria o grosera, o alguna otra  causa análoga, le será reembolsado el pago al usuario o en su caso se le propondrá por Servicios Medik Away S.A.P.I. de C.V, otro profesionista para que le sea atendido de inmediato en el servicio que requiera el usuario.
                                
                                El costo de los servicios que se ofrecen por la plataforma digital de Servicios Medik Away S.A.P.I. de C.V,  de los profesionistas se harán del conocimiento de los usuarios en aplicación de la plataforma previa aceptación de los servicios  que requieran en cuyo caso dependerá de los servicios que el usuario requiera.
                                
                                Los usuarios en el momento de aceptar los servicios de los profesionistas y aceptar el pago de los mismos se establecen entre ambos un contrato de prestación de servicios profesionales que regula las diversas leyes mexicanas así como la Ley General de Salud y con ello cualquier divergencia o controversia será regulada  y resuelta las leyes aplicables al caso concreto.
                                
                                Servicios Medik Away S.A.P.I. de C.V, con el propósito de garantizar  a los usuarios de los servicios  de los profesionistas  que oferten sus servicios atreves de la plataforma digital, que previo al contrato servicios entre los profesionistas y Servicios Medik Away S.A.P.I. de C.V, la empresa de comunicación digital verificara que los profesionistas tengan acreditado legalmente su profesión con la cédula profesional que les permita ejercer su profesión legal y libremente, así como los datos de identificación personales, identidad, domicilio legal, teléfono de localización, los cuales en el caso de que le sean requeridos por los usuarios de sus servicios estos deberán de ser requeridos a la empresa Servicios Medik Away S.A.P.I. de C.V, mediante solicitud al correo institucional contacto@medikaway.com especificando los motivos por los cuales los requiere,  y estos le sean proporcionados mediante  comunicado electrónico que el usuario indique, y con ello se le notifique al profesionista la información que le fue remitida al usuario que la requirió.     
                                
                                El pago de los servicios que recibirá Servicios Medik Away S.A.P.I. de C.V, se realizara mediante tarjeta bancaria de débito o crédito, para lo cual se le requerirán datos de institución bancaria, nombre del titular de la tarjeta, número de la tarjeta bancaria.   
                                
                                EN CUMPLIMIENTO A LO ESTABLECIDO EN EL ARTICULO 16 fracción VI DE LA LEY DE PROTECCION DE DATOS PERSONALES EN POSESIÓN DE PARTICULARES.
                                
                                Se hace del conocimiento de los titulares de datos personales que el cambio, ampliación, modificación del presente aviso de privacidad que vulnere los derechos de los titulares de los datos personales, será notificado a los titulares por medio de la aplicación nativa y/o correo electrónico que se tenga registrado del usuario, ello para los efectos legales conducentes.
                                
                                El presente aviso de privacidad fue elaborado por el personal  y directivos de  la empresa Servicios Medik Away S.A.P.I. de C.V, apoyado por el área legal de bufete jurídico V.M. Asesoría Jurídica Integral.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        </div>
                </div>
            </div>
        </div>
        <!-- Modal TOS -->
        <div class="modal fade" id="terminos_condiciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content  modal-doc">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Terminos y condiciones de uso.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body modal-body-content">
                                CONTRATO  ADHESIVO  DE PRESTACION DE SERVICIOS PROFESIONALES MEDICOS A DISTANCIA.

                                Que celebra por una parte el usuario de los servicios médicos a distancia, el cual para los efectos del presente contrato se le denominara (PACIENTE),  el cual acreditara su identidad en los términos del capítulo de antecedentes del presente contrato y por la otra parte el  profesionista de la salud  que le  brinde los servicios médicos requeridos el cual para los efectos e interpretación del presente contrato se le denominara (MÉDICO), el  cual tiene  título legalmente expedido por institución educativo legalmente reconocida, así como  la cédula profesional que les otorgo las autoridades competentes para ejercer su profesión sin ninguna restricción, el cual acredita su identidad y profesión en los términos del capítulo  de antecedentes del presente contrato y por otra parte la moral SERVICIOS MEDIK AWAY S.A.P.I. de .C.V,  la  cual interviene en el presente contrato como la plataforma digital de comunicación y demás servicios integrales  que el ( MÉDICO), tiene contratada en forma individual para la prestación de sus servicios profesionales de salud el cual para los efectos del presente contrato a la plataforma de comunicación digital se le denominara (INTERMEDIARIO) la cual acredita su personalidad en términos del capítulo de antecedentes del presente contrato . Así mismo para los efectos e interpretación del presente contrato a la Ley General de Salud se le denominara la (LEY), y al Reglamento de Prestación de Servicios Médicos se le denominara (REGLAMENTO),  al presente documento se le denominara (CONTRATO)  al referirse a  Ley de Protección Federal  al Consumidor se le denominara (PROFECO).
                                
                                ANTECEDENTES.
                                
                                A.- El (MÉDICO). Manifiesta que es su  voluntad ofrece sus servicios al público en general  como médico el cual  cuenta con título y cédula profesional legalmente expedida por autoridades competentes, para ejercer la profesión que se ostenta, o la especialidad correspondiente, datos que se encuentran en la ficha de identificación de la plataforma digital de comunicación del  (INTERMEDIARIO)   que él  (MÉDICO)  tiene contratado por su cuenta propia, por medio de la cual otorgara la atención médica a distancia, así como el almacenamiento de datos digitales del (PACIENTE), en los sistemas digitales del (INTERMEDIARIO), y llevar la administración del pago de los honorarios mediante la pasarela  de pagos Grupo Conektame S.A. de C.V.  que administra el (INTERMEDIARIO), todo  ello de acuerdo a la  (LEY) y ( REGLAMENTO) así mismo manifiesta que está debidamente registrado ante la Secretaria de Salud la profesión que se dedica. – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –   
                                
                                B.- El  (MÉDICO). Manifiesta que es su voluntad otorgar atención médica a distancia al (PACIENTE),  que le requieran sus servicios profesionales por medio la plataforma digital de comunicación que tiene contratado con el (INTERMEDIARIO), así mismo manifiesta que está debidamente registrado ante las autoridades fiscales, para lo cual si el (PACIENTE) así lo requiere le extenderá la factura correspondiente por los servicios  profesionales médicos brindados con todos los requisitos fiscales que las leyes establecen. – – – – – – – – – – – – – – — – – – – — – – – – – – — – – – – — – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –
                                
                                C.-El (PACIENTE). Manifiesta  que es su voluntad requerir la atención médica a distancia por medio de la plataforma de comunicación del (INTERMEDIARIO) y con ello por sí mismo determinar  el médico  de la plataforma digital del (INTERMEDIARIO) que requiere para la atención médica a distancia  del catálogo de médicos que tienen contratado  los servicios de comunicación digital  para ofrecer  servicios de atención medica distancia  con el (INTERMEDIARIO). – – – – – – – – – – – – – – – – – – – – – – – – —  —  — – – – –
                                
                                D.-EL (PACIENTE). Manifiesta que  es su voluntad proporcionar sus datos personales necesarios  para que se le brinde la atención médica a distancia mediante el registros que el mismo haga,  dentro de la plataforma digital de comunicación del (INTERMEDIARIO), mismos  datos que serán tratados  de manera confidencial, mediante la contraseña que el (PACIENTE)   asignara de manera personal en la plataforma  para la  seguridad de los mismo  y los cuales  son necesarios para integrar su expediente clínico electrónico y del cual el médico  que le brinde la atención médica a distancia tendrá bajo su resguardo y confidencialidad por medio de la plataforma de comunicación digital del (INTERMEDIARIO) que tiene contratados para brindar la atención médica a distancia, mismos datos personales  del (PACIENTE) que de acuerdo con la Ley de Protección de Datos Personales en Posesión de Particulares  que le serán requeridos  datos personales  generales, sensibles y los cuales el titular de los datos personales podrá tener conocimiento de la forma  del tratamientos de los mismos en el Aviso de privacidad que el (INTERMEDIARIO) pondrá a su disposición de acuerdo a ley aplicable para el manejo de sus datos personales, así como los  derechos ARCO y los mecanismos para poder ejercer algunos de los derechos que tiene los titulares de los datos personales.     
                                
                                E.- El (PACIENTE). Manifiesta ser mayor de edad en pleno uso de sus facultades mentales para solicitar atención médica a distancia para el mismo, en el caso de solicitar la atención medica distancia en nombre y representación de un menor de edad sobre el cual ejerce la custodia y patria potestad o de alguna persona con alguna discapacidad mental  de la cual ejerce su cuidado y representación deberá de hacerlo saber en el momento de que este requisando sus datos personales en la plataforma digital del (INTERMEDIARIO), para  el debido conocimiento y registro en el expediente clínico del paciente  del (MÉDICO), que le brinde la atención médica a distancia. – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –   
                                
                                F.- EL (PACIENTE), Manifiesta su aceptación en realizar el pago de los servicios médicos que le brinde el (MÉDICO) que este elija de la plataforma de comunicación digital  del (INTERMEDIARIO),  por medio de tarjeta de crédito o débito bancaria, para lo cual da su consentimiento de proporcionar los datos de identificación de la tarjeta bancaria para que se le realice el cargo correspondiente. – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –  – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –
                                
                                G.- EL (INTERMEDIARIO). Manifiesta que es una empresa legalmente  constituida cuyo objeto de negocios es el desarrollo de Software, de comunicación digital, con  domicilio legal en las calles de avenida Chapultepec numero 141 despacho 101,102,  en la colonia Juárez en la Ciudad de México, correo electrónico contacto@medikaway.com registro federal de causantes SMA170104I32,  la cual dentro de objetivo del presente  contrato es brindar los servicios de comunicación digital a través de una plataforma de comunicación de  la cual es titular de los derechos de uso y comercialización a los médicos que contraten los servicios del (INTERMEDIARIO), mediante contrato de prestación de servicios digitales, para que los médicos ofrezcan sus servicios profesionales independientes  de atención médica a distancia a los (PACIENTES) que les requieran sus servicios por medio de la plataforma de comunicación del (INTERMEDIARIO).
                                
                                El cual en el momento de que el (PACIENTE) y el (MÉDICO)  admite que este le otorgue los servicios médicos a distancia  aceptan ambas partes  en el presente contrato  de prestación de servicios profesionales como responsable de la atención medica el (MÉDICO), deslindado de cualquier responsabilidad civil, penal, administrativa a la empresa que  interviene en el presente contrato como la plataforma de comunicación digital  del  (INTERMEDIARIO) la cual participa en el presente contrato como tercero ajeno al contrato, toda vez que la misma interviene únicamente como al desarrollo de Software de comunicación digital, servicios de almacenamiento de datos y administrador de servicios de pagos por los servicios entre ambas partes.            
                                
                                Dentro de la aplicación de la plataforma digital  el (INTERMEDIARIO), ofrece los servicios.
                                
                                En el desarrollo de la aplicación se establece los  catálogos de los médicos  que tienen contratado los servicios del (INTERMEDIARIO), para ofrecer sus servicios médicos a distancia al público en general, así mismo , les otorga  en el desarrollo de la plataforma el  diseño del  expediente clínico electrónico del cual tiene los derechos de uso,  explotación y licenciamiento para que los médicos lleven los registros de sus pacientes el cual quedara en los registro en la base de datos del (INTERMEDIARIO), bajo las medidas de seguridad de reconocimiento internacional  en servidores que el (INTERMEDIARIO), tiene contratados.
                                
                                En el desarrollo de la plataforma  de comunicación para la atención médica a distancia  establece un esquema de pagos por medio de una pasarela de pagos de la empresa  Grupo Conektame S.A. de C.V. La cual tiene reconocimiento por la autoridades  hacendarias lo cual garantiza a los (PACIENTE)  y (MÉDICO), que el pago que se realice por medio de tarjeta bancaria de crédito o débito se  realiza con las medidas de seguridad  y confiabilidad  necesarias. – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – —
                                
                                H.- El (INTERMEDIARIO), tiene establecido  como política de seguridad realizar investigación de los médicos  previa a la contratación del servicio que  hagan  los médicos con el (INTERMEDIARIO), de los médicos que contratan los servicios  de comunicación digital  para ofrecer sus servicios médicos a distancia, la  investigación consistirá  en  corroborar, identidad, domicilio legal, registro federal de causante, teléfonos,  así como datos en relación con su profesión como son que cuentan con la debida acreditación del  título con los que ostentan como (MÉDICO) o la especialidad que ejerzan ante las diversas instituciones que les emite dicho título, así como la legalidad de las cédulas profesionales que les emite las diversas autoridades  gubernamentales que les acredite como médicos para ejercer su profesión legalmente. Que no tiene alguna recomendación  o restricción por el órgano regulador que interviene por alguna irregularidad en el ejercicio de su profesión del (MÉDICO),  la CONAMED. Lo cual otorga un punto de seguridad y confianza a los usuarios de los servicios médicos a distancia. Datos  que  estarán bajo el resguardo de confidencialidad del (INTERMEDIARIO), por ser datos personales del titular, en cuyo caso de ser necesario y requeridos por alguna autoridad previo al aviso que se haga al titular de los mismos serán entregados a dicha autoridad por parte del (INTERMEDIARIO).  – – – – – – – – – – – – – – – – – –  – – – – – – – – – – – – – – – – – – – – –  – – – – – – – – – – – – – – – – – – – – – – –    
                                
                                        
                                
                                I.- (MÉDICO) y (PACIENTE). Manifiestan que el objeto del presente contrato es LA PRESTACIÓN DE SERVICIOS MÉDICOS PROFESIONALES A DISTANCIA,  a través de la plataforma digital de comunicación del (INTERMEDIARIO), para lo cual  ambas partes  manifiestan su  aceptación expresa y tácitamente en el presente documento digital el cual se pone en conocimiento del (PACIENTE) los términos y condiciones del mismo mediante la plataforma digital del (INTERMEDIARIO), y una vez que el (PACIENTE), acepte y realice el pago por tales servicios se tendrá como aceptado y aprobado para los efectos legales que haya lugar entre el (MÉDICO) y el (PACIENTE).- – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –  – – – – – – – – – – – – – – – – – – – – – – – –  – – – – – – – – – – – – – 
                                
                                (MÉDICO), (PACIENTE), (INTERMEDIARIO),  están de acuerdo en sujetarse su voluntad del presente  (CONTRATO), al tenor de las siguientes cláusulas, para la formalidad  legal del mismo y alcances, en el entendido que el presente contrato de buena voluntad y libre de todo vicio o  coacción. – – – – – – – – – – – – – – – – – – – – – – –  – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – 
                                
                                CLAUSULAS.
                                
                                PRIMERA.– Las partes   manifiestan que es su  libre voluntad  la celebración del presente contrato,  así  mismo que tienen capacidad legal  necesario para poder comprometerse en este contrato en nombre propio o de su representado.- – –
                                
                                SEGUNDA.- Las partes están de acuerdo que el motivo del presente contrato es la prestación de SERVICIOS DE ATENCIÓN  MEDICA PROFESIONALES  A DISTANCIA APOYADA EN MEDIOS ELECTRONICOS, consistentes en que el (MÉDICO), otorgara la atención médica a la salud de carácter  PREVENTIVA, CURATIVA, PALIATIVA, REHABILITACION, de acuerdo a lo establecido en el artículo 33  de la (LEY). – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – — – – – – – – – – – – – – – – — – – – – – – – – — – – – – – – – – – – – – — – – — – – – – –   
                                
                                TERCERA.– Manifiesta el (PACIENTE) su conformidad en pagar los honorarios de los servicios médicos a distancia  que el (MEDICO),  de manera anticipada  a que se  le  otorgue mediante la plataforma digital, mismo costo  de honorarios que se establece de acuerdo al perfil de cada  (MÉDICO),en el catálogo de prestadores de servicios médicos   en la plataforma digital del (INTERMEDIARIO).
                                
                                El pago lo realizara el (PACIENTE), mediante la pasarela de pago de la empresa Grupo Conektame S.A. de C.V. por medio de tarjeta bancaria de crédito, débito o pago en efectos mediante deposito en las tienda de conveniencia que se estable en los términos y condiciones del (INTERMEDIARIO)en la plataforma digital. – – – – – – – – – —  – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –      
                                
                                CUARTA.- Manifiesta el (PACIENTE) su conformidad en aceptar el presente contrato de adhesión electrónico  que se encuentra predefinido en el  documento electrónico  en la plataforma digital del (INTERMEDIARIO), el cual se tendrá por perfeccionado y aceptado por ambas partes cuando realice el pago de los honorarios del  servicio al (PACIENTE) y la atención medica que le brinde el  (MÉDICO). – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –   
                                
                                QUINTA.- Manifiesta el (PACIENTE),  ser mayor de edad para solicitar  la atención médica a distancia  por medio de la plataforma de comunicación del (INTERMEDIARIO), para el mismo  o en su caso cuando actué en representación de algún menor o discapacitado mental, se obliga el (PACIENTE)en ponerlo en conocimiento del (MÉDICO) que este elija le brinde la atención médica a distancia, y con ello la figura jurídica bajo la cual solicita la atención médica ( patria potestad,  curador,) así como el parentesco que tiene con el (PACIENTE) al que se le otorgar la atención médica   para el debido conocimiento del (MEDICO) y con ello se registre tal circunstancia en el expediente clínico electrónico que tiene obligación de llevar el (MEDICO).
                                
                                SEXTA.– Manifiesta el (PACIENTE), que se obliga en el presente contrato a MANIFESTAR BAJO PROTESTA DE DECIR VERDAD, al MÉDICO que  elija del catálogo de médicos que tienen contratado los servicios de comunicación del (INTERMEDIARIO), que le brindará la atención médica a distancia al (PACIENTE) que lo solicite, de no hacerlo será  este el único responsable de las posibles consecuencias que pudiera tener como consecuencia del tratamiento que el (MÉDICO) recomiende por la atención médica a distancia y con ello el (PACIENTE) libera de cualquier responsabilidad al (MÉDICO)por tal circunstancia  civil ,penal, como  profesional de la salud. – – – – – – – – – – – – – – – – – – – – –  – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –
                                
                                SEPTIMA.–  El (MEDICO). Manifiesta que  de acuerdo a la (LEY)  realizara una evaluación médica del (PACIENTE) por medio de la plataforma digital que solicite la atención médica a distancia y con ello determinara de  acuerdo a los síntomas y  padecimientos si es factible poder otorgar la consulta a distancia al ( PACIENTE),  y  procedente la consulta a distancia en caso de que detecte alguna circunstancia que pueda generar al paciente un riesgo en su estado de salud y que le impida brindar la atención médica a distancia,  le dará su opinión médica por medio la plataforma para que  acuda de manera personal con el medico  de alguna especialidad que  el (PACIENTE)  tome la decisión que más convenga a su salud, debido al  cuadro que patológico  en  su salud para que le realice una exploración física directa o de alguna especialidad sugerida por el médico que le brinde la atención medica por la plataforma digital, así mismo le hará  constar mediante documento digital de la plataforma la opinión médica que este considere para una segunda valoración.  – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –   
                                
                                OCTAVA.- Manifiesta el (MEDICO), que se compromete con el paciente a brindar la atención médica a distancia al paciente que le requiere sus servicios profesionales de la salud, para lo cual lo realizara con la debida diligencia que el caso lo requiera, con la calidad, cortesía, amabilidad, profesionalismo,  que cada paciente requiera, así mismo se compromete a que si el (PACIENTE), por alguna circunstancia no se encuentra satisfecho con la atención medica brindada, el (INTERMEDIARIO) pondrá a disposición de los pacientes un centro de atención a clientes en los número telefónico (55) 57 05 32 00 en un horario de las 09:00 hrs. a las 18:00 hrs. de lunes a viernes y en el correo electrónico contanto@medikaway.com de lunes a domingo las 24 hrs. , por medio del cual será canalizada su inconformidad la cual deberá de ser proporcionado por el (PACIENTE) los motivos y circunstancias por las cuales considera que no fue satisfactoria la atención médica a distancia brindada por el (MÉDICO), y de ser procedente se le otorgara un crédito sin costo alguno para que le sea brindada otra atención medica con el  (MÉDICO) que el (PACIENTE) elija o que le asigne el intermediario como garantía de los servicios profesionales que los médicos contraten los servidos de la plataforma digital, independientemente que le será notificado al (MÉDICO) la circunstancia de la inconformidad del (PACIENTE) para que corrija su conducta como profesional de la salud. – – – – – – – – – – – – – –
                                
                                NOVENA .- Manifiesta el (MÉDICO) en cumplimiento a lo establecido por la (LEY) llevara un expediente clínico electrónico  de cada paciente que le otorgue la atención medica distancia, a través de la plataforma de digital del (INTERMEDIARIO)  de sus antecedentes clínicos, datos personales  como del tratamiento sugerido por la atención médica a distancia otorgada , mismo expediente que estará bajo el resguardo del (MÉDICO) mediante el archivo de datos vía electrónica que le brinda el (INTERMEDIARIO) dentro de la plataforma digital de comunicación, la cual conservara de acuerdo a lo establecido por la (LEY).
                                
                                DECIMA.- Manifiesta  (MÉDICO) y  (PACIENTE)  que ente ambos  se otorga un contrato de prestación de servicios profesionales médicos, por medio del cual ambas partes aceptan los derechos y obligaciones que se generan por tal servicio, y únicamente citan en el presente contrato al  (INTERMEDIARIO)  como el medio de comunicación, almacenaje de datos, e intermediario para aceptar el pago de los honorarios. – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –
                                
                                DECIMA PRIMERA.- El presente contrato se acepta por las partes en los términos y condiciones que se encuentra establecido  en el documento digital de la plataforma del (INTERMEDIARIO), para adherirse a este y con ello le otorgan pleno valor legal, y se tendrá por aceptado mediante la plataforma digital con los datos de identificación del (PACIENTE) con la contraseña que el mismo determino en la plataforma digital del (INTERMEDIARIO) que será considerada como firma digital, y así mismo el presente contrato es censurado y aprobado por la (PROFECO), y con ello  se garantiza el cumplimiento por ambas partes del presente contrato. – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – — – – – – – – – – – – – – – – – – – – – – – – – – – — – — – – – – – – – – – – – – – – – – – – – – – – – – – – — – –
                                
                                DECIMA SEGUNDA.- Las partes que intervienen en el presente contrato manifiestan su voluntad en sujetarse a los tribunales de la Ciudad de México para los efectos de interpretación, aplicación, discrepancia, con lo cual renuncian al fuero por razón de territorio o competencia que les pudiera corresponder  a cualquier otro tribunal judicial para su interpretación y aplicación del presente contrato.
                                
                                Y se regula por el CODIGO CIVIL vigente en la CIUDAD DE MEXICO, LA LEY GENERAL DE SALUD, REGLAMENTO DE PRESTACION DE SERVICIOS  MEDICOS, y demás códigos aplicables. – – – – – – – – – – – – – – – — – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –
                                
                                Leído que es el presente contrato de adhesión  prestación de servicios  médicos profesionales, que consta de cinco  fojas útiles  lo aceptan para todos los efectos y alcances legales del mismo, mediante la firma de identificación electrónica, de la plataforma digital del INTERMEDIARIO, para constancia del mismo teniendo como fecha del mismo el día mes y año en que el PACIENTE da por admitido de su parte la prestación del servicio médico a distancia que le brinde el MEDICO, a través de la plataforma digital de comunicación del INTERMEDIARIO.
                                
                                MÉDICO.
                                
                                EL PROFESIONAL DE LA SALUD QUE LE BRINDE LA ATENCION MEDICA AL PACIENTE Y QUE SE REGISTRE EN LA BASE  DE DATOS DEL INTERMEDIARIO
                                
                                PACIENTE.
                                
                                IDENTIFICADO EN LOS DATOS DE REGISTRO DEL INTERMEDIARIO QUE SE LE BRINDE LA ATENCION MEDICA A DISTANCIA
                                
                                INTERMEDIARIO.
                                
                                SERVICIOS  MEDIK AWAY S.A.P.I de C.V.    
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        </div>
                </div>
            </div>
        </div>
        
        <script>
            function forgotPassword(){
                var credentialForm = document.getElementById("credential-form")
                var recoverForm = document.getElementById("recover-form")
                credentialForm.style.display = "none"
                recoverForm.style.display = "initial"
            }
            function returnLogin(){
                var credentialForm = document.getElementById("credential-form")
                var recoverForm = document.getElementById("recover-form")
                credentialForm.style.display = "initial"
                recoverForm.style.display = "none"
                console.log("algo")
            }
            window.onbeforeunload = WindowCloseHanlder;
            function WindowCloseHanlder(){	
            window.alert('My Window is closing');
            }
        </script>
</main>
{% endblock %}